
<div class="container text-dark">
	<div class="row mt-5">
		<div class ="col">
			<!-- 	companys basic bio info -->
		<%= render 'detailscard' %>
		</div>
	</div>
	<!-- 	companys appointments & services -->
	<div class="row" style="height: 50em;">
		<!-- 	companys appointments-->
		<div class="col-lg-6 ">
			<%= render 'appointmentscard' %>
		</div>
		<!-- 	companys services -->
		<div class="col-lg-6 h-100">
			<%= render 'servicescard' %>
		</div>
	</div>
</div>