<h1>Reviews list</h1>

<!-- <table>
	<tr>
		<th>Review</th>
		<th>Service type</th>
		<th>Review date</th>
	</tr>

	<% @ratings.each do |rating| %>
		<tr>
			<td><%= rating.review %></td>
			<td><%= rating.service_name %></td>
			<td><%= rating.created_at %></td>
		</tr>
	<% end %>
</table><br> -->