<div class="container text-dark">
	<!-- 	companys picture uploads -->
	<div class="row">
		<%= render 'photoscarousel' %>

	</div>
	<!-- 	companys basic bio info -->
	<div class="row">
		<%= render 'detailscard' %>
	</div>
	<!-- 	companys appointments & services -->
	<div class="row" style="height: 50em;">
		<!-- 	companys appointments-->
		<div class="col-lg-6 h-100">
			<%= render 'appointmentscard' %>
		</div>
		<!-- 	companys services -->
		<div class="col-lg-6 h-100">
			<%= render 'servicescard' %>
		</div>
	</div>
</div>