.salonName {
	position: relative;
	font-family: "Roboto thin", sans-serif;
	font-size: 22px;
	margin-top: 10px;
	text-align: center;
	letter-spacing: 2px;
	color: black;
}

#previousBtn {
	background-color: #FF8272;
	padding: 10px;
	margin-left: -120px;
	border-radius: 50px;
	width: 60px;
	height: 60px;
	justify-content: center;
	align-items: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon  {
	width: 15px;
	height: 15px;
	margin: 10px;
}

#nextBtn {
	background-color: #FF8272;
	padding: 14px;
	margin-left: 120px;
	border-radius: 50px;
	width: 60px;
	height: 60px;
}

.menu {
	margin-top: 10px;
}

#profile > p {
	color: black;
	margin-bottom: 5px;
}

.profileSalon {
	font-size: 17px;
	font-weight: bold;
	margin-top:10px;
}

.table td >p {
 margin-left: -115px;
 margin-bottom: 0px;
}


.table td {
	color: black;
	text-align: center;
	cursor: pointer;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);;
}

.table-hover tbody tr:hover {
    color: #FF8272 !important;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0 0 0 2px #ff8272;
  }

 .table {
 	margin-top:10px;
 }

 #profile-tab:focus {
 	color: #ff8272;
 	font-weight: bold;
 }

 #home-tab:focus {
 	color: #ff8272;
 	font-weight: bold;
 }

 #nameForm {
 	justify-content: center;
 	align-items: center;
 }

.carousel-inner {
height: 220px;
}