
.salonName {
	position: relative;
	font-family: "Quicksand", sans-serif;
	font-size: 22px;
	margin-top: 90px;
	text-align: center;
	letter-spacing: 2px;
	color: black;
	font-weight: bold;
}

#previousBtn {
	background-color: #FF8272;
	padding: 10px;
	margin-left: -120px;
	border-radius: 50px;
	width: 60px;
	height: 60px;
	justify-content: center;
	align-items: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon  {
	width: 15px;
	height: 15px;
	margin: 10px;
}

#nextBtn {
	background-color: #FF8272;
	padding: 14px;
	margin-left: 120px;
	border-radius: 50px;
	width: 60px;
	height: 60px;
}

.menu {
	margin-top: 10px;
}

#contact > p {
	color: black;
	font-family: "Quicksand", sans-serif;
}

.profileSalon {
	font-family: "Quicksand", sans-serif;
	font-size: 17px;
	font-weight: bold;
	margin-top:10px;
}



.table td >p {
font-family: "Quicksand", sans-serif;
 margin-bottom: 0px;
 margin-left: 20px;
}


.table td {
	font-family: "Quicksand", sans-serif;
	color: black;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 20px;
	padding-bottom: 20px;
}

.table-hover tbody tr:hover {

    background-color: rgb(255, 255, 255);

  }

 .table {
 	margin-top:10px;
 }

/*tab change color on focus */
#profile-tab, #home-tab, #contact-tab, #reviews-tab {
	font-size: 18px;
	font-family: "Quicksand", sans-serif;
}


 #profile-tab:focus {
 	color: #ec5869;
 	font-weight: bold;
 }

 #home-tab:focus {
 	color: #ec5869;
 	font-weight: bold;
 }

 #contact-tab:focus {
 	color: #ec5869;
 	font-weight: bold;
 }

 #reviews-tab:focus {
 	color: #ec5869;
 	font-weight: bold;
 }

 #nameForm {
 	justify-content: center;
 	align-items: center;
 }

.carousel-inner {
height: 220px;
}

/*adjusting tab color when switching tab to tab*/
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	  color: #55595c;
    background-color: #fff;
    border-color: rgba(0,0,0,0.5) rgba(0,0,0,0.5) #fff
}

.nav-tabs {
	border-bottom: 1px solid rgba(0,0,0,0.5);
}


.nav-tabs .nav-link:hover {
	border-left-color: rgba(0,0,0,0.5);
	border-right-color:rgba(0,0,0,0.5);
	border-top-color: rgba(0,0,0,0.5);
}

.newform {
	margin-top: 20px;
}

.apptForm {
	width: 200px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: solid 1px rgb(169, 169, 169);
	padding-left: 5px;
	border-radius: 3px;
}

.instructions {
	color: black;
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 0px;
}

#star-rating {
	margin-top: 10px;
	font-size: 18px;
	font-family: "Quicksand", sans-serif;
	color:black;
}

/*rating button css*/
.ratingBtn {
	font-family: "Quicksand", sans-serif;
	color:#ec5869;
	padding-left: 0px;
	cursor: pointer;
}

.ratingBtn:hover {
	color:#ec5869;
	text-decoration: none;
	opacity: 0.7;

}

#reviews-list {
	font-family: "Quicksand", sans-serif;
	color:black;
	font-size: 17px;
}

.overallRating {
	font-size: 20px;
}

/*adjusting colors and font of appt tab*/

#appt >p {
	color: black;
	margin-bottom: 0px;
	font-size: 17px;
	font-family: "Quicksand", sans-serif;
}

#appointment_timeslot_id {
	border: 1px solid rgb(169, 169, 169);
	padding:5px;
	height: 30px;
}
#appointment_date_of_visit {
	border-radius: 3px;
	padding:5px;
	width: 200px;
}

#appointment_service_id  {
	height: 36px;
}

@media only screen and (max-width: 780px) {
	#previousBtn, #nextBtn {
		display:none;
	}

	.carousel-inner {
		border: 1px solid rgba(0,0,0,0.5);
		border-radius: 3px;
		max-height: 150px ;
	}
	.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
		border: none;
	}

	.nav-tabs .nav-link:hover {
		border: none;
	}

	#reviews-tab:focus {
		border-bottom: 1px solid rgba(0,0,0, 0.5);
	}

	.table td {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 10px;
	padding-bottom: 10px;
	border:none;
	padding-left:0px;
}
.table td >p {
	display: inline-block;
	width: 100px;
	margin-left:10px;
}
.overallRating {
	display:block;
 }

}