body {
  background-color: #EEEEEE;
}

.nav-item {

	margin-bottom: 0px;
}

.listsalon {
	color:  #ec5869;
}

#salonborder > .nav-link {
	border: 1px solid white;
	border-radius: 3px;
	color:  #ec5869
}

.navbar {
	padding: 1.3rem 1rem;
}

.navbar-brand {
letter-spacing: 2px;
}