body {
  background-color: #EEEEEE;
}

.nav-item {

	margin-bottom: 0px;
}

#listsalon {
	color: #FF8272;
}

#salonborder {
	border: 1px solid white;
	border-radius: 3px;
}

.navbar {
	padding: 1.3rem 1rem;;
}

.navbar-brand {
letter-spacing: 2px;
}