.searchHeader {
	position: relative;
	margin-top: 100px;
	text-align: center;
	font-family: "Quicksand", sans-serif;
	font-size: 30px;
	color: black;
	margin-bottom: 30px;
}

.noResult {
	position: relative;
	margin-top: 50px;
	text-align: center;
	font-family: "Quicksand", sans-serif;
	font-size: 20px;
	color: black;
	margin-bottom: 30px;
	text-transform: lowercase;
}

/*result image*/
#resultImg {
	min-width: 180px;
	min-height: 180px;
}
#resultImgBorder {
	border-radius: 3px;
	border: 1px solid #eee;
}