.form-control:focus {
  box-shadow: none;
}

#submit_btn {
	background-color: #ec5869;
	font-size: 16px;
	box-sizing: border-box;
	height:45px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	font-family: "Quicksand", sans-serif;
}

#input1 {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	font-family: "Quicksand", sans-serif;
	font-size: 14px;

}

#shiftRow {
	position: relative;
	transform: translateY(-74px);
	/*background-color: rgba(0,0,0,0.3);*/
	padding-top: 15px;
	padding-bottom:15px;
	z-index: 3;
}

#heightAdjustment {
	height:45px;
}