<p>TIMESLOTS PAGE of <%= @salon.email %></p>

<% @timeslots.each do |slot| %>
	<p><%= slot.time %></p>
<% end  %>

<p>available</p>
<% @available.each do |slot| %>
	<p><%= slot.time %></p>
<% end  %>

<p>unavailable</p>
<% @unavailable.each do |slot| %>
	<p><%= slot.time %></p>
<% end  %>